Request for Header Field normalisation

Migrated from [rt.cpan.org#105516](https://rt.cpan.org/Ticket/Display.html?id=105516) (status was 'new')

Requestors:
* kjetilk@cpan.org

From kjetilk@cpan.org on 2015-06-26 22:49:46:
```
Hi all,

I just wrote YA caching UA (with Moo and CHI), and I found something I wasn't able to commit time to. So, just in case anybody else is inspired, I submit this as a wishlist item. :-)

Section 4.1 in RFC 7234 see http://tools.ietf.org/html/rfc7234#section-4.1 requires normalization of the Vary header values. I figured this normalization is better done in HTTP-Message than in the caching UA.

Cheers,

Kjetil
```


@kjetilk, As far as I understand what is written in [RFC 7234 §4.1 Calculating Secondary Keys with Vary](https://tools.ietf.org/html/rfc7234#section-4.1), it does not say anything about the normalisation of the VARY response header itself. That can be just a list of nominated header-field names, in any order or capitalisation.

The RFC does explain what can be done with the presented request-header fields and/or associated request-header fields to see if it is a match or not:

- adding/removing whitespace
- combining fields, for multi value fields
- reordering fields
- capitalisation

Normalisation of the VARY header 'ansich' is not the issue you have to deal with. But what you typically want is the normalisation of each and every header-field mentioned.

You may be looking for something like `$h->normalized_header( $field )` in `HTTP::Headers`, but it ain't there (yet)

I think, because of misinterpretation of the RFC, this specific issue may be closed, and maybe a new one could be opened 'HTTP::Headers normilized headers request'

Yes, indeed, a ```$h->normalized_header( $field )``` in ```HTTP::Headers``` is what I'm looking for. I thought that was clear when I wrote "Vary header values", sorry it wasn't clear enough.

Wouldn't it be better to just change the title of the issue than taking the extra effort to open a new issue?



Sounds like a plan, but than I think we should ask @oalders to update the title. As that does not reflect the request you really have:

What about:

---

### Title: Request for Header Field normalisation

### Reasoning:
In order to make comparison of two Header Field values more convenient (and correct) it would be great to have a normalisation function in HTTP::Headers, like:

```perl
my $normalized_value = $h->normalized_header( 'accept_language');
```

Normalisation is mentioned in [RFC 7234 §4.1 Calculating Secondary Keys with Vary](https://tools.ietf.org/html/rfc7234#section-4.1). And could involve:
- adding/removing whitespace
- combining fields, for multi value fields
- reordering fields
- capitalisation

However, re-ordering and capitalisation can be Header Field dependent and should not break semantics

---

Well, I think I just wrote out a new issue ?


Hehe, right, indeed, that is a well formulated new issue :-) Feel free to post it like that.

@genio , thank You for renaming, you might want to rename it back, rather than rewriting history - unless you really really really want the discussion be part of the introduction

Thanks everyone!