Request for Header Field Normalisation

In order to make comparison of two Header Field values more convenient (and correct) it would be great to have a normalisation function in HTTP::Headers, like:

```perl
my $normalized_value = $h->normalized_header( 'accept_language');
```

Normalisation is mentioned in [RFC 7234 §4.1 Calculating Secondary Keys with Vary](https://tools.ietf.org/html/rfc7234#section-4.1). And could involve:
- adding/removing whitespace
- combining fields, for multi value fields
- reordering fields
- capitalisation

However, re-ordering and capitalisation can be Header Field dependent and should not break semantics This requires a lot of care, knowing how certain HTTP-Header Fields south to be treated.

NOTE: bare in mind that normalisation is only for display or comparison, I would strongly disagree to change the headers, even though it might semantically totally right.

please close https://github.com/libwww-perl/HTTP-Message/issues/60

Great, thanks a lot for reformulating the issue! It would be really great to have in there!